body{
    background-color: #98d2eb;
}
.container{
    border-radius: 25px;        
   background-color: #e1f2fe;
    margin: 10% 33% 33% 33%;
    height:400px;
}
.weather .temp {
    margin-top: 2em;
}
.weather{
   text-transform: capitalize;
   padding-top: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color:#49392c;
}
.weather .datetime{
    text-transform: none;

}
.weather h2{
    font-size: 26px;
}
.weather div{
    font-size: 1.4em;
}
